{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Character Sheet 5e</title>
        <link rel="stylesheet" href="{% static global.css %}">
    </head>
    <body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url "home" %}">My Characters</a></li>
            </ul>
        </nav>
    </header>
        {% block content %}
        {% endblock content %}
    </body>
    <footer>
        <div>
            A Web Application by Connor Swanson (2022)
        </div>
    </footer>
</html>