{% extends 'base.html' %}
{% block content %}
<main>
    <div>
        <h2>Name: {{ charactersheet.name }}</h2>
        <ul class="character-ul">
            <li><h4>Level {{ charactersheet.level }} {{ charactersheet.race }} {{ charactersheet.character_class }}</h4></li>
            <li>Background: {{ charactersheet.background }}</li>
            <li>Experience: {{ charactersheet.experience }}</li>
            <li> </li>
            <li>Proficiency: +{{ charactersheet.proficiency }}</li>
            <li>Max Hit Points:{{ charactersheet.hit_points }}</li>
            <li>Armor Class:{{ charactersheet.armor_class }}</li>
            <li>Speed: {{ charactersheet.speed }} feet</li>
            <li></li>
            <li>SAVING THROWS</li>
            <li>STR: </li>
            <li>DEX: </li>
            <li>CON: </li>
            <li>INT: </li>
            <li>WIS: </li>
            <li>CHA: </li>
            <li></li>
            <li>ABILITY SCORES</li>
            <li>Strength: {{ charactersheet.strength }} ({{ charactersheet.str_mod }})</li>
            <li>Dexterity: {{ charactersheet.dexterity }} ({{ charactersheet.dex_mod }})</li>
            <li>Constitution: {{ charactersheet.constitution }} ({{ charactersheet.con_mod }})</li>
            <li>Intelligence: {{ charactersheet.intelligence }} ({{ charactersheet.int_mod }})</li>
            <li>Wisdom: {{ charactersheet.wisdom }} ({{ charactersheet.wis_mod }})</li>
            <li>Charisma: {{ charactersheet.charisma }} ({{ charactersheet.cha_mod }})</li>
        </ul>
    </div>
</main>
{% endblock content %}