{% extends 'base.html' %}
{% block content %}
<main>
    <div>
        <ul>
            {% for charactersheet in charactersheet_list %}
            <li><a href="{% url "character_detail" character_detail.id %}">{{ charactersheet.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</main>
{% endblock content %}